body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: arial, sans-serif;
    box-sizing: border-box;
    overflow: hidden;
}

.navbar {
    font-size: 13px;
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row-reverse;
}

.navlist {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navitem {
    margin: 15px;
}

.navlink {
    color: rgb(47, 47, 47);
    text-decoration: none;
}

.navlink:hover {
    text-decoration: underline;
}

.usericon {
    width: 45px;
    height: 45px;
    display: block;
    border-radius: 50%;
}

.appsicon {
    margin-left: 10px;
    width: 4px;
    height: 4px;
    display: block;
    background-color: rgb(51, 51, 51);
    border-radius: 50%;
    margin: 50%;
}

.appsicon::before {
    content: "";
    width: 4px;
    height: 4px;
    display: block;
    background-color: rgb(51, 51, 51);
    border-radius: 50%;
    position: relative;
    right: 160%; 
}

.appsicon::after {
    content: "";
    width: 4px;
    height: 4px;
    border-radius: 50%;
    display: block;
    background-color: rgb(51, 51, 51);
    position: relative;
    bottom: 100%;
    left: 160%;
}

.logodiv {
    height: 290px;
    display: flex;
    flex-direction: column-reverse;
}
.logo {
    display: block;
    margin: 0 auto;
}

.searchdiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 160px;
    width: 100%;
    padding: 20px;
    background-color: white;
}
.searchbar {
    margin-top: 10px;
    height: 44px;
    width: 584px;
    background-color: white;
    border: 1px solid rgb(209, 209, 209);
    border-radius: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.searchicon {
    display: block;
    height: 10px;
    width: 10px;
    margin: 10px;
    border: 2px solid grey;
    border-radius: 50%;
    position: relative;
    bottom: 2px;
    left: 2px;
    transform: scale(.75);
}

.searchicon::after {
    display: block;
    content: "";
    width: 2px;
    height: 10px;
    background-color: grey;
    transform: rotate(-45deg);
    position: relative;
    left: 130%;
    top: 80%;
}

.searchfield {
    margin: 2%;
    width: 80%;
    height: 90%;
    border: none;
    font-size: 1em;
    color: rgb(47, 47, 47);
}

.searchfield:focus {
    outline: none;
}

.searchbuttons {
    margin: 15px auto;
    padding: 25px;
    width: 60%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

button {
    height: 35px;
    width: 137px;
    background-color:#f8f9fa;
    color: rgb(47, 47, 47);
    border: 1px solid rgb(230, 230, 230);
    font-size: 15px;
}

.extras {
    width: 100%;
    flex-grow: 2;
    flex-shrink: 1;
    text-align: center;
    font-size: small;
}

.footer {
    width: 100%;
    flex-grow: .3;
    background-color:rgb(240, 240, 240);
    color: rgb(141, 140, 140);
    display: flex;
    flex-direction: column;
}

.footerlocation {
    height: 50%;
    width: 100%;
    padding-left: 20px;
    flex: auto;
    display: flex;
    align-items: center;
}

.footerlinkdiv {
    height: 50%;
    flex: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.footerlinkdiv .info {
    min-height: 45px;
    flex: 1 1 300px;
    display: flex;
}
 
.footerlinkdiv .settings {
    min-height: 45px;
    flex: 1 1 300px;
    display: flex;
    flex-direction: row-reverse;
}

.footerlink {
    padding: 15px;
    display: block;
    text-decoration: none;
    white-space: nowrap; 
    color:rgb(141, 140, 140);
}

.footerlink:hover {
    text-decoration: underline;
}